<html>
  <head>
  </head>
  <body>
  <h1 style="border-bottom: 1px solid gray; padding-bottom: 5%; color: black">Delete account code for your
      <span>Sticknet</span>
      Account</h1>
    <p style="font-size: 20px; color: black;">Hey {{name}},
        <br/>
        We are sad to hear that you want to have your account deleted. Please, bear in mind that this action will result
        in all your account data being deleted immediately. This action can not be undone.
        If you wish to proceed, below is the confirmation code:
      <p style="color: #6060ff; font-weight: bolder; letter-spacing: 10px; font-size: 40px">{{code}}</p>
    </p>
  </body>
</html>
