<html>
<body>
<h3 style="border-bottom: 1px solid gray; padding-bottom: 5%; color: black">Finish setting up your account</h3>
<p>Hey,</p>
<p>Are you facing difficulties creating or logging into your Sticknet account?</p>
<p>Remember to check you junk/spam folder for the verification code.</p>
<p>If you were a Sticknet user previously, you can login with your phone number.</p>
<p>If you have any questions don't hesitate to contact us: support@sticknet.org</p>
<p>Sincerely,</p>
<p>Sticknet Support</p>
</body>
</html>
