<html>
<body>
<h1 style="border-bottom: 1px solid gray; padding-bottom: 5%; color: black">Sticknet Premium subscription expired</h1>
<p style="color: black;">Hey {{name_of_user}},</p>
<p>
    We wanted to let you know that your premium subscription has expired. You have a grace period of 14 days starting
    from the day of expiry. Please make sure to either renew your subscription, or make sure your occupied vault space
    does not
    exceed the basic limit of 1 GB. Files exceeding the basic limit of 1 GB after the date of {{end_date}} will be
    deleted. If you
    have any question do not hesitate to contact us.
</p>
<p>Sincerely,</p>
<p>Sticknet Support</p>
</body>
</html>
