<html>
<body>
<h1 style="border-bottom: 1px solid gray; padding-bottom: 5%; color: black">Sticknet Premium subscription cancelled</h1>
<p style="color: black;">Hey {{name_of_user}},</p>
<p>
    You have cancelled your Sticknet premium subscription.Your premium benefits expires on: {{end_date}}. Please be noted that data
    exceeding basic storage (1 GB) will be deleted 14 days after the expiration date.

    We hope to see you back again!

    If you have any question do not hesitate to contact us.
</p>
<p>Sincerely,</p>
<p>Sticknet Support</p>
</body>
</html>
