packages:
  dnf:
    git: []
    libjpeg-turbo-devel: []
    postgresql-server-devel: []  # Correct package for psycopg2
    python3-devel: []  # Required for Python native extensions
    gcc: []  # Required for compiling psycopg2
    gcc-c++: []  # Required for compiling some dependencies
    make: []  # Required for compiling dependencies
    libmemcached-devel: []  # Required for pylibmc
