commands:
  01_enable_epel:
    command: "dnf install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-9.noarch.rpm"

  02_install_dev_tools:
    command: "dnf groupinstall -y 'Development Tools'"

  03_install_postgresql_devel:
    command: "dnf install -y postgresql15-devel"

container_commands:
  01_upgrade_pip:
    command: "/var/app/venv/*/bin/pip install --upgrade pip setuptools wheel"
