commands:
  01_enable_extras:
    command: "dnf install -y amazon-linux-extras"
  02_install_dev_tools:
    command: "dnf groupinstall 'Development Tools' -y"
  03_install_libmemcached:
    command: "dnf install -y libmemcached libmemcached-devel"
  04_upgrade_pip:
    command: "pip install --upgrade pip setuptools wheel"
