option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "sticknet.settings"
    PYTHONPATH: "./src"
    RDS_DB_NAME: "ebdb"
    RDS_HOSTNAME: "sticknet-db-v04.cgaieldqheja.eu-central-1.rds.amazonaws.com"
    RDS_PASSWORD: "Itisblack1!"
    RDS_PORT: "5432"
    RDS_USERNAME: "STiiiCKDBAdmin"
    FIREBASE_CREDENTIALS: "/var/app/current/firebase-admin.json"
    IAP_ANDROID_KEY: "/var/app/current/iap-android.json"
    IAP_IOS_KEY: "66cfedcfceaf47b092b0ab19cf651a17"
    SECRET_KEY: "$z4@70xm56-qzsl=mzvwo9nj_@)wvi7x*dpt8$d@cjth=c31c9"
    EMAIL_HOST_USER: "founder@sticknet.org"
    ERRORS_EMAIL: "stiiick.errors@gmail.com"
    EMAIL_HOST_PASSWORD: "itxgxkqarnrsleyn"
    EMAIL_HOST: "smtp.gmail.com"
    AWS_ACCESS_KEY_ID: "AKIA2JO5WTMKD5Q3CM46"
    AWS_SECRET_ACCESS_KEY: "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"
    AWS_S3_REGION_NAME: "eu-central-1"
    AWS_STORAGE_BUCKET_NAME: "stiiick"
    AWS_STATIC_BUCKET_NAME: "stiiick-static"
    AWS_PUBLIC_BUCKET_NAME: "www.sticknet.org"
    CDN: "d1yl8vg471ox6j.cloudfront.net"
    STATIC_CDN: "d3szwhnosp80r.cloudfront.net"
    PUBLIC_CDN: "d3vpnljghm98zc.cloudfront.net"
    LOCAL_DB_PASS: "xxxx"
    AWS_CLOUDFRONT_KEY: "/var/app/current/cloudfront-key.pem"
    AWS_CLOUDFRONT_KEY_ID: "KDLVJP5250O0H"
    SECRET_KEY: "6a921f2yk8^e0_02ho78yoqkd36)8g2gh^gj_gp0orc-1!0xd+"
    SUPER_USER_USERNAME: "__Almo5tabarX__"
    SUPER_USER_EMAIL: "founder@sticknet.org"
    SUPER_USER_PASSWORD: "((A7marFaras))89"
    ADMIN_URL: "edara/"
    LOCAL_MEDIA_STORAGE: "X"
    LOCAL_PUBLIC_STORAGE: "X"
    STORJ_ACCESS_KEY_ID: "jvt4fircgunol5qelfodqvft5twa"
    STORJ_SECRET_ACCESS_KEY: "jzqgjf2o3oolrgag4mmsihpdpbvgbkvfoogjmep2ybhubvt3bpyto"
    STORJ_BUCKET_NAME: "sticknet-blobs"
    STORJ_DEV_BUCKET_NAME: "sticknet-blobs-dev"
    STORJ_URL: "https://gateway.storjshare.io"
    STRIPE_TEST_KEY: "sk_test_51O1nDFEQNuAuV5UyXMqREJ4Z0oNrljmmZoDOFDoitMZzAR2oF2CSYVO0l2oUTNV89RfMylO5aNV2bcyfOZBu5Fma002bN7F4e8"
    STRIPE_LIVE_KEY: "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"
    STRIPE_TEST_WH_SECRET: "whsec_9d71fdfe5a9fa85b31c3a2b1ab0d5e4c83ec8f38c127f694c3db07cf30ee45bb"
    STRIPE_LIVE_WH_SECRET: "whsec_XixjUnm1B3Hl2aJHugNtB6u8zxLpO6yO"
    SERVER_ADMIN_TOKEN_DEBUG: "f425fec16a0eb7d665a24d6ce02cbbbe3ae76e6fdc4137892c5c9ead652b0090"
    SERVER_ADMIN_TOKEN_PROD: "a81c66237a4d51fe12989cdd73bcd4a09625013e681fab73cb01ed18c67244ab"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: src.sticknet.wsgi:application
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:environment:proxy:staticfiles":
    "/static/": "www/static/"
