container_commands:
  01_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python3 /var/app/current/src/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python3 /var/app/current/src/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python3 /var/app/current/src/manage.py collectstatic --noinput"
  04_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "sticknet.settings"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: src.sticknet.wsgi:application
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:environment:proxy:staticfiles":
    "/static/": "www/static/"
