Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["sticknet-secrets"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  "/etc/pki/tls/certs/cloudfront-key.pem":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://sticknet-secrets.s3.eu-central-1.amazonaws.com/cloudfront-key.pem
  "/etc/pki/tls/certs/firebase-admin.json":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://sticknet-secrets.s3.eu-central-1.amazonaws.com/firebase-admin.json
  "/etc/pki/tls/certs/iap-android.json":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://sticknet-secrets.s3.eu-central-1.amazonaws.com/iap-android.json
